<header>
    <nav>
        <div class="row">            
                <img src="assets/images/xyz-logo.svg" alt="xyz logo" class="company-logo" id="logo">            
            <ul class="main-nav">
                <li>{{#link-to 'report'}}Report{{/link-to}}</li>
                <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
</header>
