/* Small desktops */

@media only screen and (max-width: 1200px) {
    .overview-container,
    .risk-container,
    .cta-strip-container,
    .fine-print,
    .settings-container {
        width: 95%;
    }
    .normal-text {
        font-size: 24px;
    }
    .text-box {
        margin-bottom: 30px;
    }
    .overview {
        background-position: -946px 0px;
    }
    .general-info { width: 55%; }
    .big-red-circle p { font-size: 15px;}
    .big-red-circle p:last-of-type{font-size: 30px; top: 20px;}
    .big-number { font-size: 110px;}
    .white-text { font-size: 24px;}
    .heading-white { margin-top: 60px; }
    .big-blue-circle .low-risk,.risk-row p { font-size:24px;}
    .risk-info .red-label{ margin-top: 30px;}
    .risk-row span {margin-right:15px;}
    .risk-row p {margin-top: 15px;}
    .risk-info button {margin-top: 30px;}
    .risk { padding-bottom: 60px;}
    
    .info-box{margin-right: 25%;}
    .footer-left-block {
        width: 47.5%;
        margin-left: 2.5%;
    }
    footer .assistance { width: 70%;}
    
    .authentication-container{width:45%;}
    
    .account-attributes p{ margin-bottom: 20px; }

}


/* Tablet portrait*/

@media only screen and (max-width: 920px) {
    .heading{ font-size:34px;}
    .red-label { font-size:14px;}
    .company-name { font-size:30px; }
    .normal-text { font-size:20px; }
    .white-text { font-size: 16px; }
    .blue-circle { height: 130px; width: 130px;}
    
    .big-red-circle,.big-blue-circle{width:180px; height:180px; background-size: 170px; }
    
    .big-red-circle p:last-of-type {
        font-size: 22px;
        top: -8px;
    }
    
    .big-number {
        font-size: 84px;
        top: 9px;
    }
    .big-red-circle p{ top:27px;}
    .text-box .right{margin-left:25%;}
    .overview {background-position: -1176px 0px;}
    .big-blue-circle .low-risk, .risk-row p {font-size: 16px;}
    .risk-row i{font-size:20px;}
    .risk-row p { font-size: 20px;}
    .risk-score .big-number{top:25px;}
    
    .cta-strip-container p {    
        line-height: 25px;
        width: 55%;
        padding-top: 2%;
    }
    
    .info-box { margin-right: 18%; }
    footer .assistance { width: 95%;}
    
    footer .links{ margin-top: 60px; }
    
    .settings-container { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; 
        margin-bottom: 60px;
    }
    .settings-container > .sign-in {-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    .settings-container > .account-attributes {-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
    
    .sign-in { width: 70%; margin: auto;}
    
    .form { width: 100%;  margin-top: 15px;}
    .account-attributes .container { width: 100%; margin-top: 0px; }
    .account-attributes{width:70%; margin: auto;}
    
    .authentication-container{
        width: 80%;
        border:none;
        display: inherit;
    }
    
    .circles-container{
        margin:0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}


/* Smartphones */

@media only screen and (max-width: 568px) {
    
    .company-logo {
        height: 65px;
        width: 85px;
    }
    .overview-container { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; 
    }
    
    .overview {
        background-position: -256px 50px;
        background-size: 800px 800px;
    }
    .overview-container > .general-info {-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    .overview-container > * {-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
    .general-info{width:95%;}
    .text-box:last-of-type {display: block;} 
    
    .text-box .right{margin:0;}
    .text-box .left{margin-bottom:30px;}
    
    .blue-circle{ position: relative; left: 40%;}
    .blue-circle > *{ position: relative; right: 15px;}
    
    .big-red-circle{ 
        position: relative;
        left: 85%;
        top: -173px;
    }
    .updates{height: 60px;}
    
    
    .risk-container { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; 
    }
    
    .risk-container > .risk-score {-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
    .risk-container > .risk-info {-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    .heading-white {    margin-top: 60px;    margin-bottom: 300px; margin-left: 5%;}
    
    .risk-score { position: relative; top: -650px; width: 70%; margin:auto; text-align: -webkit-center; height:0;}    
    
    .risk-info {    width: 100%;}   
    
    .risk-info div:last-of-type{text-align: center;}
    
    
    .cta-strip{height:130px;}
    
    .cta-strip img {  
        position: relative;
        bottom: -60px;
        right: 15px;
    }
    
    .cta-strip-container p{width:80%;}
    
    footer, .footer-content { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; 
    }
    
    footer > .footer-content {-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    footer > .fine-print {-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
    
    .footer-content > .footer-right-block{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
    .footer-content > .footer-left-block{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
    
    .footer-content, footer .links{max-height: inherit;}
    .footer-right-block, .footer-left-block { width: 100%;}
    
    .info-box{margin:0; float:none; text-align: center;}
    .social-media{margin: auto; margin-top: 60px;}
    
    .fine-print{
        float: none;
        text-align: center;
        display: grid;
    }
    .fine-print span:first-child{
        margin-bottom:15px;
    }
    
    .sign-in, .account-attributes{width:90%;}
    .account-attributes button{display:none;}
    .account-attributes .container{padding-left:10px;}
    
    .authentication-container{
        width: 100%;
        border:none;
        display: inherit;
    }
}
