<div class="authentication-container">
    <div class="form">
        <div class="edit-box">
            <p>Username</p>
            <input type="text">
        </div>
        <div class="edit-box">
            <p>Password</p>
            <input type="password">
            {{#link-to 'report' tagName='button' class='btn-login'}} Log In {{/link-to}}
            
        </div>
    </div>
    
    <div class="circles-container">        
        <div class="circle-blue"></div>
        <div class="circle-yellow"></div>
        <div class="circle-lightblue"></div>
        <div class="circle-red"></div>
    </div>

</div>
