<section class="overview">
    <div class="heading">The Honest Company, Inc.</div>
    <div class="overview-container">

        <div class="tax-id">
            <div class="blue-circle">
                <p class="red-label">Tax Id</p>
                <p class="white-text">XX-XXX<strong>4861</strong></p>
            </div>
        </div>

        <div class="general-info">
            <div class="text-box">
                <p class="red-label">Doing Business as</p>
                <p class="company-name">The Honest Company</p>
            </div>

            <div class="text-box">
                <p class="red-label">Adress</p>
                <p class="normal-text">12130 Millennium Dr, Los Angeles, CA 90094</p>
            </div>

            <div class="text-box">
               <div class="left">
                   <p class="red-label">Phone Number</p>
                    <p class="normal-text">(888) 862-8818</p>
               </div>
               <div class="right">
                   <p class="red-label">Website</p>
                    <p class="normal-text">honest.com</p>
               </div>
                
            </div>            
        </div>

        <div class="updates">
            <div class="big-red-circle">
                <span>Report Updates In</span>
                <div class="big-number">
                    22
                </div>
                <span>days</span>
            </div>
        </div>

    </div>
</section>


<section class="risk">
    <div class="risk-container">
        <div class="risk-score">
            <div class="big-number">
                    84
                </div>
                <p>higher scores are better</p>
        </div>

        <div class="risk-info">
            <div class="heading-white">Experian Credit Risk Score</div>
            <p class="red-label">Factors lowering this score</p>
            <div class="risk-row">
                <p><span>X</span>Balance of recently delinquent commercial accounts</p>
            </div>
            <div class="risk-row">
                <p><span>X</span>Balance of commercial accounts at worst delinquency</p>
            </div>
            <div class="risk-row">
                <p><span>X</span>Commercial account delinquency in the last 6 months</p>
            </div>


        </div>



    </div>
</section>

<section class="cta-strip">

    <div class="cta-strip-container">
        <img src="assets/images/experian.svg" alt="Experian logo" class="cta-logo">
        <span>This report was generated on <strong>July 17, 2017</strong> and will be updated in <strong>22 days</strong></span>
    </div>
</section>

<footer>
    <div class="links">
        <div class="info-box">
            <div class="title">
                About Us
            </div>
            <p><a href="#">About XYZ</a></p>
            <p><a href="#">FAQs</a></p>
        </div>

        <div class="info-box">
            <div class="title">
                Resources
            </div>
            <p><a href="#">Set Goals</a></p>
            <p><a href="#">XYZ Tips</a></p>
        </div>
        
        <span>XYZ &copy; 2017 All Rights Reserved</span>

    </div>

    <div class="assistance">
        <div class="title">
            Need assistance?
        </div>
        <div class="phone">
            <div class="big-label-red">1-888-579-5910</div>
            <p>When calling, use memeber ID <span class="red">791509951</span></p>
            <p><span class="red">Weekdays</span> 8AM - 9PM Eastern</p>
            <p><span class="red">Weekends</span> 12PM - 8PM Eastern</p>
        </div>
        <div class="email">
            <div class="big-label-red">help@xyz.com</div>
        </div>
    </div>

</footer>
