<div class="heading">Account Settings</div>
   <div class="settings-container">
    
    <section class="account-attributes">
        <div class="container">
            <div class="heading-white">The Honest Company, Inc.</div>
            <p>12130 Millennium Dr, Los Angeles, CA 90094</p>
            <p>(888) 862-8818</p>
            <div class="subheading-white">
                Your Member ID is <strong>791509951</strong>
            </div>
            <button class="button-white">Log out of XYZ</button>
        </div>
    </section>
    <section class="sign-in">
    <div class="form">
        <div class="edit-box">
            <p>Name</p>
            <input type="text">
            <button>Edit</button>
        </div>
        <div class="edit-box">
            <p>Email Address</p>
            <input type="text">
            <button>Edit</button>
        </div>
        <div class="edit-box">
            <p>Password</p>
            <input type="text">
            <button>Edit</button>
        </div>
    </div>

    </section>
</div>
<footer>
    <div class="links">
        <div class="info-box">
            <div class="title">
                About Us
            </div>
            <p><a href="#">About XYZ</a></p>
            <p><a href="#">FAQs</a></p>
        </div>

        <div class="info-box">
            <div class="title">
                Resources
            </div>
            <p><a href="#">Set Goals</a></p>
            <p><a href="#">XYZ Tips</a></p>
        </div>

    </div>

    <div class="assistance">
        <div class="title">
            Need assistance?
        </div>
        <div class="phone">
            <div class="big-label-red">1-888-579-5910</div>
            <p>When calling, use memeber ID <span class="red">791509951</span></p>
            <p><span class="red">Weekdays</span> 8AM - 9PM Eastern</p>
            <p><span class="red">Weekends</span> 12PM - 8PM Eastern</p>
        </div>
        <div class="email">
            <div class="big-label-red">help@xyz.com</div>
        </div>
    </div>

</footer>