<div class="heading">Account Settings</div>
   <div class="settings-container">
    
    <section class="account-attributes">
        <div class="container">
            <div class="heading-white">The Honest Company, Inc.</div>
            <p>12130 Millennium Dr, Los Angeles, CA 90094</p>
            <p>(888) 862-8818</p>
            <div class="subheading-white">
                Your Member ID is <strong>791509951</strong>
            </div>
            <button class="button-white">Log out of XYZ</button>
        </div>
    </section>
    <section class="sign-in">
    <div class="form">
        <div class="edit-box">
            <p>Name</p>
            <input type="text">
            <button>Edit</button>
        </div>
        <div class="edit-box">
            <p>Email Address</p>
            <input type="text">
            <button>Edit</button>
        </div>
        <div class="edit-box">
            <p>Password</p>
            <input type="text">
            <button>Edit</button>
        </div>
    </div>

    </section>
</div>
<footer class="inverted">
    {{footer-content}}
</footer>